<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card p-4" style="width: 100%; max-width: 400px;">

  <form #formPremios="ngForm" (ngSubmit)="onSubmit()">
  <h4 class="card-title">Canjear Premio</h4>
    <div class="mb-3">
  <label class="form-label">Usuario:</label>
  <input [(ngModel)]="nombreUsuario" name="nombreUsuario" type="text" placeholder="ingrese el usuario...." class="form-control">
    </div>
    <div class="mb-3">
  <label class="form-label">Codigo:</label>
  <input [(ngModel)]="codigo" name="codigo"  type="text" placeholder="ingrese el codigo...." class="form-control">
    </div>
  <button class="btn btn-primary w-100">Buscar</button>
  </form>
  </div>

</div>
